<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
	<resultMap type="chat" id="chatResultMap">
		<result column="ROOM_NO" property="roomNo"/>
		<result column="ROOM_NAME" property="roomName"/>
		<result column="USER_NO" property="userNo"/>
		<result column="MESSAGE_NO" property="messageNo"/>
		<result column="MESSAGE" property="message"/>
		<result column="SEND_TIME" property="sendTime"/>
		<result column="OTHER_NO" property="otherNo"/>		
	</resultMap>
	
	<select id="selectRoomList" resultMap="chatResultMap">
		SELECT 
				ROOM_NO
			  , ROOM_NAME
		  FROM 
		  		CHATROOM
		  JOIN
		  		CHATINFO USING (ROOM_NO)
		 WHERE
		 		USER_NO = #{userNo}
	</select>
	
	<select id="selectChatHistory" resultMap="chatResultMap">
		SELECT 
				MESSAGE_NO
			  , USER_NO
			  , ROOM_NO
			  , MESSAGE
			  , SEND_TIME
		  FROM 
		  		MESSAGE
		 WHERE
		 		ROOM_NO = #{roomNo}
		 ORDER BY
		 		SEND_TIME ASC
	</select>
	
	<insert id="insertChatMessage" parameterType="chat">
		INSERT INTO MESSAGE
			   (
				MESSAGE_NO,
				USER_NO,
				ROOM_NO,
				MESSAGE,
				SEND_TIME
			   )
		VALUES (
				SEQ_MES_NO.NEXTVAL,
				#{userNo},
				#{roomNo},
				#{message},
				CURRENT_DATE
			   )
	</insert>
	
	<select id="searchChatMember" parameterType="chat" resultType="_int">
		SELECT 
				ROOM_NO
		  FROM 
		  		CHATINFO
		  WHERE 
		  		ROOM_NO IN
		  					(
		  					<!-- 해당 유저가 포함된 채팅방 -->
							SELECT 
									ROOM_NO
							FROM 
									CHATINFO
							WHERE 
									USER_NO = #{userNo}
							)
		AND USER_NO = #{otherNo}
		ORDER BY ROOM_NO
	</select>
	
	<insert id="insertNewChatRoom" parameterType="chat">
		INSERT 
		  INTO 
    			CHATROOM
		VALUES (
    			SEQ_CHAT_ROOM_NO.NEXTVAL
    			<!-- 현재 채팅에 참여하는 회원이름을 한 줄로 출력 -->
  			 , (
  			 	SELECT 
  			 			LISTAGG(USER_NAME, ',')
        				WITHIN GROUP(ORDER BY USER_NAME) USER_NAME
        		  FROM (
        		  		<!-- 현재 채팅방에 들어갈 회원 이름 -->
            			SELECT USER_NAME
            			FROM MEMBER
            			WHERE USER_NO IN (#{userNo}, #{otherNo})
        			   )
    			)			
   			)		
	</insert>
	
	<insert id="insertNewChatMember">
		INSERT 
		  INTO
		  		CHATINFO
		VALUES  (
				 SEQ_CHAT_ROOM_NO.CURRVAL
				,#{i}		
				)
	</insert>
	
	<select id="selectNewChatRoom" resultType="_int">
		SELECT 
				SEQ_CHAT_ROOM_NO.CURRVAL ROOM_NO 
		  FROM 
		  		DUAL
	</select>
</mapper>
