<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roomMapper">


	<resultMap type="room" id="roomResultSet">
		<result column="ROOM_NO" property="roomNo"/>
		<result column="HOUSE_NO" property="houseNo"/>
		<result column="ROOM_NAME" property="roomName"/>
		<result column="GENDER" property="gender"/>
		<result column="PEOPLE" property="people"/>
		<result column="AREA" property="area"/>
		<result column="DEPOSIT" property="deposit"/>
		<result column="RENT" property="rent"/>
		<result column="EXPENSE" property="expense"/>
		<result column="UTILITY" property="utility"/>
		<result column="AVAILABLE_DATE" property="availableDate"/>
		<result column="STATUS" property="status"/>
		<result column="HOUSE_NAME" property="houseName"/>
		<result column="HOUSE_TITLE" property="houseTitle"/>
		<result column="HOUSE_INTRODUCE" property="houseIntroduce"/>
		<result column="SHARE_SPACE" property="shareSpace"/>
		<result column="PERSONAL_SPACE" property="personalSpace"/>
		<result column="TRAFFIC" property="traffic"/>
		<result column="CONVENIENCE" property="convenience"/>
		<result column="ADDRESS" property="address"/>
		<result column="LATITUDE" property="latitude"/>
		<result column="LONGITUDE" property="longitude"/>
		<result column="USER_NO" property="userNo"/>	
	</resultMap>

	<resultMap type="room" id="roomUserSet">
		<result column="ROOM_NO" property="roomNo"/>
		<result column="HOUSE_NO" property="houseNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
	</resultMap>
	
	<resultMap type="report" id="reportFileResultSet">
  	<result column="REPORT_NO" property="reportNo"/>
  	<result column="HOUSE_NO" property="houseNo"/>
  	<result column="REPORT_CATE" property="reportCate"/> 
  	<result column="USER_NO" property="userNo"/>	
  </resultMap>
  
  <resultMap type="houseFile" id="FileResultSet">
  	<result column="FILE_NO" property="fileNo"/>
  	<result column="HOUSE_NO" property="houseNo"/>
  	<result column="ROOM_NO" property="roomNo"/> 
  	<result column="FILE_PATH" property="filePath"/>
  	<result column="FILE_Level" property="fileLevel"/>	
  </resultMap>
	
	
	<!-- 방 등록 -->
	<insert id="insertRoom" parameterType="room">
		INSERT
			INTO ROOM(
						ROOM_NO
						,HOUSE_NO
						,ROOM_NAME
						,GENDER
						,PEOPLE
						,AREA
						,DEPOSIT
						,RENT
						,EXPENSE
						,UTILITY
						,AVAILABLE_DATE
						,STATUS
					)
			VALUES(
						 SEQ_ROOM_NO.NEXTVAL
						,SEQ_HOUSE_NO.CURRVAL
						,#{roomName}
						,#{gender}
						,#{people}
						,#{area}
						,#{deposit}
						,#{rent}
						,#{expense}
						,#{utility}
						,#{availableDate}
						,DEFAULT
					)
	</insert>
	
  	<!-- 현재 방 번호 확인 -->
  	<select id="selectRoomNo" resultType="_int">
		SELECT 
		        LAST_NUMBER AS ROOM_NO
		FROM 
		        USER_SEQUENCES 
		WHERE 
		        SEQUENCE_NAME = 'SEQ_ROOM_NO'
  	</select>
  	
  	<!-- 방 삭제 -->
  	<update id="deleteRoom" parameterType="_int">
    	UPDATE
  				ROOM
  		SET
  				STATUS = 'N'
  		WHERE
  				HOUSE_NO = #{hno}
  	</update>
	
	

	<select id="houseDetail" resultMap="roomResultSet">
			SELECT * 
			FROM ROOM 
			LEFT JOIN HOUSE USING(HOUSE_NO)
			LEFT JOIN MEMBER USING(USER_NO)
			WHERE HOUSE_NO = #{hno}
  	</select>
  	
  	
  	<select id="reportCheck" parameterType="hashmap" resultType="_int">
			SELECT COUNT(*)
			FROM 
				REPORT
			WHERE 
				USER_NO = #{userNo}
			AND 
				HOUSE_NO = #{houseNo}
	</select>
	
	<insert id="reportRoom" parameterType="report">
			INSERT 
			INTO REPORT(
				REPORT_NO,
				HOUSE_NO,
				REPORT_CATE,
				USER_NO
			)
			VALUES(
				SEQ_REPORT_NO.NEXTVAL
				,#{houseNo}
				,#{reportCate}	
				,#{userNo}	
			)

		</insert>
		
	<update id="increaseCount" parameterType="_int">
	UPDATE 
		HOUSE
		SET
		COUNT = COUNT + 1
		WHERE 
			STATUS = 'Y'
		AND
		HOUSE_NO = #{hno}
		
	</update>
	
	<select id="houseChangeHeart" parameterType="hashmap" resultType="string">
		 SELECT 
		 	STATUS
        FROM 
        	DIBS
        WHERE
        	USER_NO = #{userNo}
        AND 
            HOUSE_NO = #{houseNo}		
	</select>
	
	<select id="interiorChangeHeart" parameterType="hashmap" resultType="string">
		 SELECT 
		 	STATUS
        FROM 
        	DIBS
        WHERE
        	USER_NO = #{userNo}
        AND 
            INTERIOR_NO = #{interiorNo}		
		
	</select>
	
	<insert id="changeHeartY" parameterType="hashmap">
		INSERT INTO 
			DIBS(USER_NO, HOUSE_NO)
		VALUES
			(#{userNo},
			 #{houseNo})
	</insert>
	
	<update id="changeHeartYY" parameterType="hashmap">
		UPDATE 
			DIBS
		SET
			STATUS = 'Y'
		WHERE 
			USER_NO = #{userNo}
		AND
			HOUSE_NO = #{houseNo}
		
	</update>
	
	<update id="changeHeartN" parameterType="hashmap">
		UPDATE 
			DIBS
		SET
			STATUS = 'N'
		WHERE 
			USER_NO = #{userNo}
		AND
			HOUSE_NO = #{houseNo}
	</update>
	<select id="houseFileOne" resultMap="FileResultSet">
	  	SELECT *
        FROM HOUSE_FILE
        WHERE HOUSE_NO = #{hno} and FILE_level = 1
	</select>
	<select id="changeFile" resultMap="FileResultSet">
	  	SELECT FILE_PATH
        FROM HOUSE_FILE
        WHERE HOUSE_NO = #{hno} and ROOM_NO = #{rno}
	</select>
	
</mapper>