@charset "UTF-8";
.title {
    font-weight: 600;
    margin-left: 20px;
}

.Qform{
    width: 1000px;
    border-top: 2px solid rgb(247, 202, 201);
    border-bottom: 2px solid rgb(247, 202, 201);
    text-align: center;
    margin: 20px auto 0 auto;
}

.Qform th {
    border: 1px solid lightgray;
    padding: 5px;
}

.Qform td {
	border: 1px solid lightgray;
    padding: 5px;
    text-align: left;
}

.Qcontent {
    text-align: left;
    height: 400px;
    padding-left: 5px;
}

.pic-disc {
    color: black;
}