@charset "UTF-8";
ul { 
    list-style: none;
    padding: 0;
}
.mtb3{
    margin: 3px 0;
}
.house-item {
    width: 250px;
    display: inline-block;
    margin-right: 198px;
    margin-left: 29px;
    margin-top:30px;
}

.thumbnail {
    width: 100%;
    height: 150px;
    border-radius: 15px;
}
.thumb-title {
    font-size: 18px;
    font-weight: bold;
}
.thumb-desc li:first-child {
    font-weight: bold;
    border-right: 1px solid #aaa;
    padding-right: 8px;
}
.thumb-desc li {
    display: inline-block;
}
.status1 {
    display: inline-block;
    width: 80%;
    height: 30px;
    background-color: rgb(247, 202, 201);
    border-radius: 15px;
    color: white;
    text-align: center;
    line-height: 30px;
}
.status2 {
    display: inline-block;
    width: 80%;
    height: 30px;
    background: none;
    border-radius: 15px;
    border: 1px solid rgba(0,211,170,1);
    color: rgba(0,211,170,1);
    text-align: center;
    line-height: 30px;
}
a {
    color: inherit;
    text-decoration: none;
}
#text-box{
	width:1500px;
	margin:auto;
}

#pagingArea {width:fit-content; margin:auto;}

.myhouse-wrap {
	text-align: center;
	margin: 0 auto 0 auto;
}

.myhouse-item {
	width: 250px;
    display: inline-block;
	margin: 30px 50px 0 50px;
}