<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.thegenesis.sweethome.member.model.vo.Member" alias="member" />
		<typeAlias type="com.thegenesis.sweethome.chat.model.vo.Chat" alias="chat" />
		<typeAlias type="com.thegenesis.sweethome.ask.model.vo.Ask" alias="ask" />
		<typeAlias type="com.thegenesis.sweethome.ask.model.vo.AskFile" alias="askFile" />
		<typeAlias type="com.thegenesis.sweethome.house.model.vo.House" alias="house" />
		<typeAlias type="com.thegenesis.sweethome.house.model.vo.HouseFile" alias="houseFile" />
		<typeAlias type="com.thegenesis.sweethome.room.model.vo.Room" alias="room" />
		<typeAlias type="com.thegenesis.sweethome.member.model.vo.Cert" alias="cert" />
		<typeAlias type="com.thegenesis.sweethome.community.model.vo.Community" alias="community" />
		<typeAlias type="com.thegenesis.sweethome.community.model.vo.Reply" alias="reply" />
		<typeAlias type="com.thegenesis.sweethome.community.model.vo.CommunityFile" alias="communityFile"/>
		<typeAlias type="com.thegenesis.sweethome.community.model.vo.Category" alias="category"/>
		<typeAlias type="com.thegenesis.sweethome.common.vo.Report" alias="report"/>
		<typeAlias type="com.thegenesis.sweethome.interior.model.vo.Interior" alias="interior"/>
		<typeAlias type="com.thegenesis.sweethome.interior.model.vo.InteriorFile" alias="interiorFile"/>
		<typeAlias type="com.thegenesis.sweethome.interior.model.vo.OrderInfo" alias="orderInfo"/>
		<typeAlias type="com.thegenesis.sweethome.tour.model.vo.Tour" alias="tour"/>

	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/ask-mapper.xml"	/>
		<mapper resource="/mappers/house-mapper.xml"/>
		<mapper resource="/mappers/house-file-mapper.xml"/>
		<mapper resource="/mappers/room-mapper.xml"/>
		<mapper resource="/mappers/community-mapper.xml"/>
		<mapper resource="/mappers/interior-mapper.xml"/>	
		<mapper resource="/mappers/tour-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
	</mappers>
</configuration>
